/*

!/.gitignore

!/.local/
/.local/*
# wallpapers
!/.local/share/
/.local/share/*
!/.local/share/wallpapers/
# custom binaries
!/.local/bin/
/.local/bin/*
!/.local/bin/rickroll
!/.local/bin/x83_to_pdf
!/.local/bin/battery-mode-docked
!/.local/bin/battery-mode-mobile
!/.local/bin/restore-dconf
!/.local/bin/setup-hyprland

!/.config/
/.config/*

!/.config/tmux/
!/.config/fish/
!/.config/helix/
!/.config/hypr/
!/.config/sway/
!/.config/zellij/
!/.config/waybar/
!/.config/wofi/
!/.config/mako/
!/.config/kitty/

/.config/fish/fish_variables
/.config/fish/conf.d/fish_frozen_key_bindings.*

!/.config/systemd/
/.config/systemd/*
!/.config/systemd/user/
/.config/systemd/user/*
!/.config/systemd/user/ssh-agent.service

!/.config/environment.d/
/.config/environment.d/*
!/.config/environment.d/ssh_auth_socket.conf
