/*

!/.gitignore

!/.local/
/.local/*
# wallpapers
!/.local/share/
/.local/share/*
!/.local/share/wallpapers/
# custom binaries
!/.local/bin/
/.local/bin/bunx

!/.config/
/.config/*

!/.config/tmux/
!/.config/fish/
!/.config/helix/
!/.config/hypr/
!/.config/sway/
!/.config/zellij/
!/.config/waybar/
!/.config/wofi/
!/.config/mako/
!/.config/kitty/

/.config/fish/fish_variables

!/.config/systemd/
/.config/systemd/*
!/.config/systemd/user/
/.config/systemd/user/*
!/.config/systemd/user/ssh-agent.service

!/.config/environment.d/
/.config/environment.d/*
!/.config/environment.d/ssh_auth_socket.conf
