/*

!/.gitignore

!/.local/
/.local/*
!/.local/share/wallpapers/
!/.local/bin/
/.local/bin/bunx

!/.config/
/.config/*

!/.config/tmux/
!/.config/fish/
!/.config/helix/
!/.config/hypr/
!/.config/sway/
!/.config/zellij/
!/.config/waybar/
!/.config/wofi/
!/.config/mako/
!/.config/kitty/

/.config/fish/fish_variables
