Config { font = "xft:monospace"
       , bgColor = "#303030"
       , fgColor = "grey"
       , position = Static { xpos = 0 , ypos = 0, width = 2560, height = 30 }
       , lowerOnStart = True
       , hideOnStart = False
       , allDesktops = True
       , persistent = True
       , iconRoot = "."
       , commands = [
              Run Cpu ["-L","3","-H","50"] 5
            , Run Memory ["-t","Mem: <usedratio>%"] 10
            , Run Com "uname" ["-s","-r"] "" 36000
            , Run Weather "EDDN" [ "-t","<station>: <tempC> °C" ] 3600
            , Run Date "%H:%M - %d.%m.%Y" "date" 10
            , Run DynNetwork [ "-S","True","-t", "<dev>: <rx>, <tx>" ] 10
            , Run Volume "default" "Master" [] 2
	        ] 10
         ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <fc=#ffff0a>%cpu%</fc> | <fc=#ffaf30>%memory%</fc> | %default:Master% }\
                    \{ <fc=#ff55cc>%dynnetwork%</fc> | <fc=#ff711f>%EDDN%</fc> | <fc=#ffd700>%date%</fc> | <fc=#0fb471>%uname%</fc> "
}
