Config { font = "xft:monospace"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "#303030"
       , fgColor = "grey"
       , alpha = 255
       , position = Static { xpos = 0 , ypos = 0, width = 1920, height = 30 }
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
              Run Cpu ["-L","3","-H","50"] 5
            , Run Memory ["-t","Mem: <usedratio>%"] 10
            , Run Swap [] 10
            , Run Com "uname" ["-s","-r"] "" 36000
            , Run Weather "EDDN" [ "-t","<station>: <tempC> °C, <skyCondition>" ] 900
            , Run Date "%H:%M - %d.%m.%Y" "date" 10
            , Run DynNetwork [ "-S","True","-t", "<dev>: <rx>, <tx>" ] 15
            , Run Volume "default" "Master" [] 2
            , Run Battery [
                "-t", "<acstatus>: <left>% - <timeleft>",
	            "--",
                --"-c", "charge_full",
	            "-O", "AC",
	            "-o", "Bat",
	            "-h", "green",
	            "-l", "red"
	        ] 10
         ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <fc=#ffff0a>%cpu%</fc> | <fc=#ffaf30>%memory%</fc> | <fc=#1fffb4>%swap%</fc> | <fc=#9999ff>%battery%</fc> | %default:Master% }\
                    \{ <fc=#ff55cc>%dynnetwork%</fc> | <fc=#ff711f>%EDDN%</fc> | <fc=#ffd700>%date%</fc> | <fc=#0fb471>%uname%</fc> "
}
